h1 {
    font-size: 3em;
    height: 50px;
    width: 50px;
    text-align: center;
}
button {
      padding: 12px 25px;
      font-size: 18px;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      background: #4CAF50;
      color: white;
      position: relative;
      z-index: 10;
    }
img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    aspect-ratio: 1 / 1;
}
.container {
    text-align: center;
    margin-top: 50px;
}
